{% load static %}
{% load i18n %}
<html>
    <head>
        <title>Observatoire SMJ</title>
        <link rel="stylesheet" href="{% static 'blog/w3.css' %}">
        <link rel="stylesheet" href="{% static 'blog/w3-theme-vertmaison.css' %}">
    </head>
<body>

    <header class="w3-row w3-theme-d3" id="myHeader">
        <div class="w3-quarter">
        </div>
        <div class="w3-half w3-center">
            <h2>Observatoire en santé mentale & Justice</h2>
        </div>
        <div class="w3-quarter w3-center">
            <a href="{% url 'logout' %}" class="w3-button w3-theme-action"> Logout</a>
        </div>
    </header>

   <div class="w3-container w3-padding">
        <h2>Bienvenue sur le site privé de l'observatoire en santé mentale et justice</h2>
        <div class="w3-container w3-padding w3-theme-l3">
            <h3><a href="{% url 'blogindex' %}" class="w3-button w3-large w3-theme-d2">Accès au blog</a></h3>
            <h3><a href="{% url 'dossier' 1 %}" class="w3-button w3-large w3-theme-d2">Accès au dépot de fichiers</a></h3>
        </div>
        <div class="w3-container w3-padding w3-theme-l5">
            <h3><a href="/admin/bottin/ressource/" class="w3-button w3-large w3-theme-action">Répertoire des ressources</a>
             Pour rentrer les informations et documents sur les resources </h3>
            <h4><a href="{% url 'listeressources' %}" class="w3-button w3-theme-l4">Liste des ressources</a>Liste des ressources et extraction pdf</h4>
            <h3><a href="/admin/tsm/tribunal/" class="w3-button w3-large w3-theme-action">
            Questionnaire TSM (2018)</a> Pour rentrer les informations et documents sur les TSM (Version 2018)</h3>
        </div>
        <div class="w3-container w3-padding w3-theme-l3">
            <h3><a href="/admin/scopingreview/article/" class="w3-button w3-large w3-theme-d1">Scoping Review Intercepts</a> Scoping review des Intercepts </h3>
        </div>
   </div>

<footer class="w3-container w3-theme-d3 footerw3">
<a href="https://github.com/Malijai/observatoire/" class="date" ><img src="/static/images/GitHub-Mark-Light-32px.png"></a>
    <div style="position:relative;bottom:30px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Haut</span>
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

</body>
</html>
